.rounded-cir1 {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
        linear-gradient(to right, #EE7ADD, #881DEB) border-box;
    color: #494C55;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 12px;
    border-radius: 50px;
    font-size: 8px;
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 200px;
    margin-top: 3px
}
.custom-card-2-performance {
    box-shadow: 0 1rem 3rem rgba(212, 83, 255, 0.25) !important;
    border: none !important;
    border-radius: 30px;
}

.date-number {
    font-size: 16px;
}

.card-img-top {
    display: block;
}

.card-img-top-mobile {
    display: none;
}

.card-img {
    width: 3.3%;
    margin: -3px 2px 0;
    padding: 0;
}

.performance-proof {
    text-align: left;
    font-size: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.after-performance {
    position: absolute;
    margin-top: 1.2rem;
}

@media (max-width: 768px) {
    .card-img-top {
        display: none;
    }

    .performance-proof {
        font-size: 15px;
    }

    .last {
        padding-top: .5rem;
    }

    .card-img-top-mobile {
        display: block;
        width: 100%;
    }

    .custom-card-2-performance {
        margin: 0 3rem;
    }
}