.gradient-back {
    background: linear-gradient(157.43deg, #fd8bff 5.71%, #881deb 70.08%);
}
.gradient-back-mobile {
    background: linear-gradient(270.8deg, #881DEB -43.04%, #FC6BFF 179.08%);
}

.buy {
    // font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 39px;
}

.custom-btn5 {
    color: white;
    padding: 12px 18px;
    font-size: small;
    // width: 150px;
    background: rgba(229, 229, 229, 0.33);
    border: 0.858824px solid #ffffff;
    box-sizing: border-box;
    border-radius: 24.0471px;
}