.gradient-back-mobile {
    background: linear-gradient(157.43deg, #fd8bff 5.71%, #881deb 70.08%);
    overflow: hidden;
    margin-top: -12rem !important;
}


.buy-top {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    margin-top: -10px;
}

.buy-big {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    margin-top: -10px;
    font-weight: bolder;
}

.buy {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    margin-top: -10px;
    font-weight: bolder;
    display: block
}


.custom-btn5 {
    color: white;
    padding: 12px 18px;
    font-size: small;
    background: rgba(229, 229, 229, 0.33);
    border: 0.858824px solid #ffffff;
    box-sizing: border-box;
    border-radius: 24.0471px;
}

.buy-dip-mobile {
    display: none;
    font-size: 30px;
}

.performance-mobile {
    display: none;
    width: 100%;
}

.performance {
    display: block;
    height: fit-content;
}

.stack-stats {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    margin-top: 1rem;
}

.stats-tats-mobile {
    margin: .8rem auto;
    padding-top: 4.5rem;
    font-size: 25px;
}

@media (max-width: 768px) {
    .gradient-back-mobile {
        background: linear-gradient(270.8deg, #881DEB -43.04%, #FC6BFF 179.08%);
        margin-top: 2rem !important;
    }

    .buy-dip-mobile {
        display: block;
        padding: 3rem 0 0;
    }

    .buy-big {
        font-size: 55px;
        padding-bottom: 3.5rem;

    }

    .performance-mobile {
        display: block;
        margin-left: .5rem !important;
    }

    .performance {
        display: none;
    }

    .buy {
        display: none;
    }

    .buy-top {
        font-size: 45px;
        padding: 1.5rem 0 0;

    }

    .shadow-lg {
        width: 15%
    }

    .stats-tats-mobile {
        margin: .8rem auto;
        padding: 2rem;
        font-size: 25px;
        text-align: center;
    }

    .stack-stats {
        margin-top: .2rem;
    }
}