.gradient-back2 {
    background-image: linear-gradient(to right, #881DEB, #FC6BFF);
}

.custom-card-2 {
    box-shadow: 0 1rem 3rem rgba(212, 83, 255, 0.25) !important;
    border: none !important;
    border-radius: 30px;
}


.input1-a {
    width: 100%;
    height: 100%;
    margin: 0px 5px;
    box-sizing: border-box;
    border: 0px solid red;
    background-color: transparent;
    color: #000;
}

.input1-a:focus {
    outline: none;
}

.input1-a:active {
    border: 0px solid red;
}

input[type="text"].big-dog::-webkit-input-placeholder {
    color: white;
}


@media (max-width: 768px) {

    .input1-a {
        text-align: left;
    }
    .input1-bottom {
        height: 70px;
    }

    .custom-btn2input {
        padding: 5px;
        width: 120px;
        height: 40px;
        font-size: 16px;
    }

}

@media (max-width:991px) {

    .input1-a.input1-atop {
        text-align: center;
    }
}
