.custom-learn-more {
    padding-left: 30px;
    padding-right: 30px;
    padding: 12px 27px;
    font-size: 13.2639px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.994796px;
    font-weight: 500;
    color: rgba(0, 0, 0, .5);
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
        linear-gradient(to right, #EE7ADD, #881DEB) border-box;
    color: #881DEB;
    text-align: center;
    line-height: 12px;
    border: 1px solid transparent;
    border-radius: 200px;
    margin-top: 3px
}

.custom-learn-more span {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    padding: 10px 0;
    font-size: 16px;
    line-height: 129.52%;
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 2.08214px;
    background: linear-gradient(180.96deg,
            #ff35e173 40%,
            #871deb77 87%,
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-learn-more:hover {
    padding-left: 30px;
    padding-right: 30px;
    padding: 12px 27px;
    font-size: 13.2639px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.994796px;
    font-weight: 500;
    color: #881DEB;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
        linear-gradient(to right, #EE7ADD, #881DEB) border-box;
    color: #494C55;
    text-align: center;
    line-height: 12px;
    border: 1px solid transparent;
    border-radius: 200px;
    margin-top: 3px
}


.wallet-img {
    width: 70px;
}

.stayincontrol h2 {
    font-size: 50px;
    color: #494C55;
}

.invest-in-bitcoin {
    font-size: 18px;
    line-height: 1.50;
    color: #494C55;
    font-weight: 400;
}


@media (max-width: 768px) {
    .custom-btn01 {
        background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
            linear-gradient(to right, #EE7ADD, #881DEB) border-box;
        padding: 10px 30px;
        font-size: 13.2639px;
        font-size: 15px;
        text-align: center;
        letter-spacing: 0.994796px;
        font-weight: 500;
        color: rgba(0, 0, 0, .5);
        border: 1px solid transparent;
        border-radius: 200px;
        margin-top: 3px
    }

    .invest-in-bitcoin {
        font-size: 20px;
        line-height: 1.8;
        padding: 1rem;
    }

    .stayincontrol h2 {
        font-size: 45px;
        line-height: 1.5;
        color: #494C55;
    }

    .wallet-img {
        width: 100px;
    }

}



@media (min-width: 1200px) {
    .stayincontrol {
        padding: 0 280px;
    }

}