@import '../../Components/Home/home.scss';
@import '../../Components/Navigation/navigation.scss';
@import '../../Components/Accumulate/accumulate.scss';
@import '../../Components/Balance/balance.scss';
@import '../../Components/Automatic/automatic.scss';
@import '../../Components/Deposit/deposit.scss';
@import '../../Components/Gold/gold.scss';
@import '../../Components/Access/access.scss';
@import '../../Components//Footer/footer.scss';
@import '../../Components/Performance/performance.scss';
@import '../../Components/Control/control.scss';
@import '../../Components/Phones/phones.scss';
@import './mediaQueries.scss';




body {
    margin: 0;
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body html {
    font-family: Inter;
}

html {
    background: white;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    html {
        width: fit-content;
    }
}