@import '../../Components/Home/home.scss';
@import '../../Components/Navigation/navigation.scss';
@import '../../Components/Accumulate/accumulate.scss';
@import '../../Components/Balance/balance.scss';
@import '../../Components/Automatic/automatic.scss';
@import '../../Components/Deposit/deposit.scss';
@import '../../Components/Gold/gold.scss';
@import '../../Components/Access/access.scss';
@import '../../Components//Footer/footer.scss';
@import '../../Components/Performance/performance.scss';
@import '../../Components/Control/control.scss';
@import '../../Components/Phones/phones.scss';
@import './mediaQueries.scss';
@import '../fonts/Inter/static/Inter-Black-slnt=0.ttf';
@import '../fonts/Inter/static/Inter-Bold-slnt=0.ttf';
@import '../fonts/Inter/static/Inter-ExtraBold-slnt=0.ttf';
@import '../fonts/Inter/static/Inter-ExtraLight-slnt=0.ttf';
@import '../fonts/Inter/static/Inter-Light-slnt=0.ttf';
@import '../fonts/Inter/static/Inter-Medium-slnt=0.ttf';
@import '../fonts/Inter/static/Inter-Regular-slnt=0.ttf';
@import '../fonts/Inter/static/Inter-SemiBold-slnt=0.ttf';
@import '../fonts/Inter/static/Inter-Thin-slnt=0.ttf';


@font-face {
    font-family: 'Inter';
    src: local('Inter-Black'), url(../fonts/Inter/static/Inter-Black-slnt=0.ttf) format('ttf');
    src: local('Inter-Bold'), url(../fonts/Inter/static/Inter-Bold-slnt=0.ttf) format('ttf');
    src: local('Inter-ExtraBold'), url(../fonts/Inter/static/Inter-ExtraBold-slnt=0.ttf) format('ttf');
    src: local('Inter-ExtraLight'),
        url(../fonts/Inter/static/Inter-ExtraLight-slnt=0.ttf) format('ttf');
    src: local('Inter-Light'),
        url(../fonts/Inter/static/Inter-Light-slnt=0.ttf) format('ttf');
    src: local('Inter-Medium'),
        url(../fonts/Inter/static/Inter-Medium-slnt=0.ttf) format('ttf');
    src: local('Inter-Regular'),
        url(../fonts/Inter/static/Inter-Regular-slnt=0.ttf) format('ttf');
    src: local('Inter-SemiBold'),
        url(../fonts/Inter/static/Inter-SemiBold-slnt=0.ttf) format('ttf');
    src: local('Inter-Thin'),
        url(../fonts/Inter/static/Inter-Thin-slnt=0.ttf) format('ttf');
}



body {
    margin: 0;
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body html {
    font-family: Inter;
}

html {
    width: fit-content;
    background: white;
    overflow-x: hidden;
}