@media (min-width: 1200px) {
    .stayincontrol {
        padding: 0 280px;
    }

}
@media (max-width: 400px) {
    #getearlylogo {
        display: none;
    }

    .custom-btn2input {
        padding: 5px;
        width: 80px;
        font-size: 10px;
    }

    .invest {
        font-size: 25px;
        color: #494C55;
        padding: 5px 0px;
    }

    .digital {
        font-weight: 500;
        font-size: 45px;
        line-height: 50px;
    }

    #depositmobile {
        display: block;
    }

    #deposit {
        padding-top: 0;
    }

    .depositmobile {
        display: block;
    }

    #section2 h4 small {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .stackingtext {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 1px;
    }


}

@media (min-width: 991px) {
    #bitcoinbuild {
        padding-top: 7%;
        padding-right: 8%;
    }

}

@media (max-width: 768px) {

    .input1-a {
        text-align: left;
    }

    .deposit {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    #deposit {
        padding: 30px 0;
    }

    .stayincontrol h2 {
        font-size: 35px;
        line-height: 40px;
        color: #494C55;
    }

}

@media (max-width: 660px) {
    #topbar {
        padding: 0px;
    }
}

@media (max-width:350px) {
    .custombtn {
        font-size: 9px;
        font-weight: bold;
        padding: 12px 0px;
        width: 110px;
    }
}

@media (max-width:991px) {

    .input1-a.input1-atop {
        text-align: center;
    }

    #featuresheading {
        text-align: center;
    }

    #features {
        padding: 10px 10px 20px 0px;
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .joinnowtop {
        margin-top: 10px;
    }

    #bitcoinbuild {
        text-align: center;
    }

    .learnmore {
        margin: 0 auto;
        display: block;
    }

    #section2 {
        margin-top: 50px;
    }

}

@media (min-width:991px) {
    #mobileviewbuild {
        display: none;
    }

    #desktopviewbuild {
        display: block;
    }

    .learnmore {
        float: left;
    }
}