.break-mobile {
    display: none
}

.break-web {
    display: block;
}


@media (max-width: 768px) {
    .introducing {
        display: block;
    }

    .accumulate {
        font-size: 100.04px;
    }

    .break-mobile {
        display: block
    }

    .break-web {
        display: none;
    }
}