.break-mobile {
    display: none
}

.break-web {
    display: block;
}

.break-tabs {
    display: none;
}

.break-XL {
    display: none;
}



@media (max-width: 768px) {
    .break-mobile {
        display: block
    }

    .break-web {
        display: none;
    }

    .break-tabs {
        display: none;
    }

}

@media(max-width: 1024px) {
    .break-mobile {
        display: none;
    }

    .break-web {
        display: none;
    }

    .break-tabs {
        display: block;
    }

}

@media(max-width: 2560px) {
    .break-mobile {
        display: none;
    }

    .break-web {
        display: none;
    }

    .break-tabs {
        display: none;
    }

    .break-XL {
        display: block;
    }

}